body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    align-items: center;
    display: flex;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial;
}
.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.slide-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.slide-img {
    display: none;
}

.slide-img img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*Atividade 2*/
.title{
    display: flex;
    justify-content: center;    
}
.slide2-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.slide2-img {
    display: none;
}

.slide2-img img {
    width: 100%;
}

.prev2,
.next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev2:hover,
.next2:hover {
    background-color: rgba(0, 0, 0, 0.8);
}